html,
body {
    height: 100%;
    padding: 0;
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: #646c9a
}

html a:hover,
html a:active,
html a:focus,
body a:hover,
body a:active,
body a:focus {
    text-decoration: none!important
}

html a,
html button,
body a,
body button {
    outline: none!important
}

@media (min-width:769px) and (max-width:1024px) {
    html,
    body {
        font-size: 12px
    }
}

@media (max-width:768px) {
    html,
    body {
        font-size: 12px
    }
}

.grid.grid-hor:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile) {
    display: flex;
    flex-direction: column
}

.grid.grid-hor:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile).grid-root {
    flex: 1
}

.grid.grid-hor:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile)>.grid-item {
    flex: none
}

.grid.grid-hor:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile)>.grid-item.grid-item-fluid {
    flex: 1 0 auto
}

.grid.grid-ver:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile) {
    display: flex;
    flex-direction: row
}

.grid.grid-ver:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile)>.grid-item {
    flex: 0 0 auto
}

.grid.grid-ver:not(.grid-desktop):not(.grid-desktop-and-tablet):not(.grid-tablet):not(.grid-tablet-and-mobile):not(.grid-mobile)>.grid-item.grid-item-fluid {
    flex: 1 auto;
    min-width: 0
}

.grid>.grid-item {
    max-width: 100%
}

@media (min-width:1025px) {
    .grid.grid-hor-desktop.grid-desktop {
        display: flex;
        flex-direction: column
    }
    .grid.grid-hor-desktop.grid-desktop>.grid-item {
        flex: none
    }
    .grid.grid-hor-desktop.grid-desktop>.grid-item.grid-item-fluid {
        flex: 1 0 auto
    }
    .grid.grid-ver-desktop.grid-desktop {
        display: flex;
        flex-direction: row
    }
}

.subheader {
    background-color: #fff;
    display: flex;
    align-items: stretch;
    margin: 10px 0
}

.subheader .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap
}

.subheader .btn {
    display: inline-flex;
    height: 32px!important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: .25rem;
    margin-bottom: .25rem
}

.subheader .btn:not(.dropdown-toggle-split) {
    margin-left: .5rem
}

.subheader .subheader-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: .25rem 0
}

.subheader .subheader-main .btn:not(.dropdown-toggle-split) {
    margin-left: 0;
    margin-right: .5rem
}

.subheader .subheader-main .subheader-title {
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #434349;
    display: flex;
    align-items: center
}

.subheader .subheader-main .subheader-desc {
    padding: 0 .5rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    color: #959cb6
}

.subheader .subheader-main .subheader-separator {
    display: block;
    width: 12px;
    height: 4px;
    border-radius: 2px;
    background: #e7e8ef;
    margin: 0 1rem 0 0
}

.subheader .subheader-main .subheader-separator.subheader-separator-v {
    width: 1px;
    height: 22px
}

.subheader .subheader-search {
    width: 175px;
    display: inline-block
}

.subheader .subheader-search .form-control {
    font-size: .9rem;
    height: 33px;
    background: #f2f3f7;
    border-color: #f2f3f7!important
}

.subheader .subheader-search .input-icon-icon i {
    font-size: 1.2rem;
    color: #74788d
}

.subheader-solid .subheader {
    margin: 0 0 25px 0;
    min-height: 54px
}

@media (max-width:1024px) {
    .subheader {
        margin: 2px 0
    }
    .subheader .subheader-main .subheader-title {
        padding: .5rem 1.25rem .5rem 0
    }
}

.svg-icon {
    height: 23px;
    width: 23px
}

.svg-icon g [fill] {
    fill: #5d78ff
}

body {
    background: #f2f3f8
}

@media (min-width:1025px) {
    .wrapper {
        transition: all 0.3s ease
    }
    .header-fixed .wrapper {
        padding-top: 65px
    }
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 119px
    }
    .aside-fixed .wrapper {
        padding-left: 265px
    }
    .header-fixed.subheader-fixed .subheader {
        position: fixed;
        height: 54px;
        top: 65px;
        left: 0;
        right: 0;
        transition: all 0.3s ease;
        z-index: 94;
        background-color: #fff;
        box-shadow: 0 10px 30px 0 rgba(82, 63, 105, .08);
        margin: 0
    }
    .aside-enabled.subheader-fixed .subheader {
        left: 265px
    }
    .container {
        padding: 0 25px
    }
}

@media (max-width:1024px) {
    .header-mobile-fixed .wrapper {
        padding-top: 50px
    }
    .container {
        padding: 0 15px
    }
    .subheader-enabled .content {
        padding-top: 0
    }
    .subheader-enabled.subheader-solid .subheader {
        margin-bottom: 15px
    }
}

@media (min-width:1025px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: 65px;
        transition: all 0.3s ease;
        position: relative;
        z-index: 2
    }
    .header.header-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 97
    }
    .aside-enabled .header.header-fixed {
        left: 265px
    }
}

@media (min-width:1025px) {
    .header-mobile {
        display: none
    }
}

@media (max-width:1024px) {
    .header-mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        height: 50px;
        min-height: 50px;
        position: relative;
        z-index: 1
    }
    .header-mobile-fixed .header-mobile {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 97
    }
    .header-mobile .header-mobile-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start
    }
    .header-mobile .header-mobile-toolbar {
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler {
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        border: none;
        cursor: pointer;
        background: none;
        outline: none!important;
        width: 24px;
        height: 24px;
        transition: all 0.4s ease
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span {
        display: block;
        position: absolute;
        top: 11px;
        height: 2px;
        min-height: 2px;
        width: 100%;
        border-radius: 2px;
        transition: all 0.4s ease
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::before,
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        min-height: 2px;
        content: "";
        border-radius: 2px;
        transition: all 0.4s ease
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::before {
        top: -8px
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::after {
        bottom: -8px
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler.header-mobile-toggler-left span:before {
        transition: all 0.4s ease;
        left: auto;
        right: 0;
        width: 50%
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler.header-mobile-toggler-left span:after {
        transition: all 0.4s ease;
        left: auto;
        right: 0;
        width: 75%
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler.header-mobile-toggler-left:hover span:after,
    .header-mobile .header-mobile-toolbar .header-mobile-toggler.header-mobile-toggler-left:hover span:before {
        width: 100%;
        transition: all 0.4s ease
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span {
        background: rgba(255, 255, 255, .2)
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::before,
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::after {
        background: rgba(255, 255, 255, .2)
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler:hover span {
        background: #5d78ff
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler:hover span::before,
    .header-mobile .header-mobile-toolbar .header-mobile-toggler:hover span::after {
        background: #5d78ff
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler {
        margin: 0 0 0 1.5rem
    }
    .header-mobile .header-mobile-toolbar .header-mobile-topbar-toggler {
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        border: none;
        cursor: pointer;
        background: none;
        outline: none!important;
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0 .5rem 0 1rem
    }
    .header-mobile .header-mobile-toolbar .header-mobile-topbar-toggler i {
        transition: all 0.3s;
        color: rgba(255, 255, 255, .2);
        font-size: 1.5rem;
        line-height: 0
    }
    .header-mobile .header-mobile-toolbar .header-mobile-topbar-toggler:hover i {
        transition: all 0.3s;
        color: #5d78ff
    }
}

@media (min-width:1025px) {
    .header-menu {
        display: flex;
        align-items: stretch;
        height: 100%;
        margin: 0 0 0 25px
    }
}

@media (max-width:1024px) {
    .header-menu-mobile .menu-nav {
        margin: 0;
        list-style: none;
        padding: 10px 0
    }
    .header-menu-mobile .menu-nav .menu-subnav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0;
        margin: 0;
        list-style: none!important
    }
    .header-menu-mobile .menu-nav .menu-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        float: none;
        padding: 0
    }
    .header-menu-mobile .menu-nav .menu-item>.menu-heading,
    .header-menu-mobile .menu-nav .menu-item>.menu-link {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        margin: 0;
        padding: 0;
        text-decoration: none;
        position: relative;
        outline: none
    }
    .header-menu-mobile .menu-nav .menu-item>.menu-heading:hover,
    .header-menu-mobile .menu-nav .menu-item>.menu-link:hover {
        text-decoration: none;
        cursor: pointer
    }
    .header-menu-mobile .menu-nav .menu-item>.menu-heading .menu-link-text,
    .header-menu-mobile .menu-nav .menu-item>.menu-link .menu-link-text {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0
    }
    .header-menu-mobile .menu-nav .menu-item>.menu-link .menu-link-icon {
        display: flex;
        align-items: center;
        line-height: 0
    }
    .header-menu-mobile .menu-nav .menu-item>.menu-heading .menu-link-bullet,
    .header-menu-mobile .menu-nav .menu-item>.menu-link .menu-link-bullet {
        display: flex;
        align-items: center;
        line-height: 0
    }
    .header-menu-mobile .menu-nav .menu-item>.menu-link .menu-hor-arrow {
        display: none
    }
    .header-menu-mobile .menu-nav>.menu-item {
        position: relative;
        margin: 0
    }
    .header-menu-mobile .menu-nav>.menu-item>.menu-link {
        cursor: pointer;
        min-height: 44px
    }
    .header-menu-mobile .menu-nav>.menu-item>.menu-link .menu-link-text {
        font-weight: 400;
        font-size: 1.02rem;
        text-transform: initial
    }
    .header-menu-mobile .menu-nav>.menu-item>.menu-link {
        padding: 9px 30px
    }
}

@media (max-width:1024px) {
    .header-menu-wrapper {
        z-index: 1001;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        backface-visibility: hidden;
        width: 275px!important;
        transition: left 0.3s ease, right 0.3s ease;
        left: -295px
    }
}

@media screen\0 and (max-width:1024px) {
    .header-menu-wrapper {
        transition: none!important
    }
}

@media (max-width:1024px) {
    .header-menu-wrapper {
        background: #fff;
        box-shadow: 0 1px 9px -3px rgba(0, 0, 0, .75)
    }
}

@media (max-width:325px) {
    .header-menu-wrapper {
        width: 90%!important
    }
}

.header-topbar {
    display: flex;
    align-items: stretch;
    padding: 0 15px 0 0;
}

.header-topbar .header-topbar-item {
    display: flex;
    align-items: stretch;
    margin: 0
}

.header-topbar .header-topbar-item .header-topbar-wrapper {
    cursor: pointer;
    display: flex;
    align-items: stretch
}

.header-topbar .header-topbar-item .header-topbar-icon {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px
}

.header-topbar .header-topbar-item .header-topbar-icon svg {
    height: 24px;
    width: 24px
}

.header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user {
    padding: 0 8px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 44px;
    cursor: pointer;
    border-radius: 4px
}

.header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user .header-topbar-welcome {
    display: flex;
    align-self: center;
    padding: 0 .55rem 0 0;
    font-weight: 500;
    font-size: .9rem;
    color: #636177
}

.header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user .header-topbar-username {
    display: flex;
    align-self: center;
    padding: 0 .55rem 0 0;
    font-weight: 500;
    font-size: 1rem;
    color: #fff
}

.header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user img {
    align-self: center;
    max-height: 34px;
    border-radius: 4px
}

.header-topbar .header-topbar-item:hover .header-topbar-icon {
    transition: all 0.3s;
    background-color: rgba(33, 32, 41, .7)
}

.header-topbar .header-topbar-item:hover.header-topbar-item-user .header-topbar-user {
    transition: all 0.3s
}

@media (max-width:1024px) {
    .header-topbar {
        padding: 0 15px;
        background-color: #2b2a35;
        box-shadow: 0 1px 9px -3px rgba(0, 0, 0, .1);
        transition: all 0.3s ease;
        margin-top: -50px;
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: flex-end
    }
    .header-mobile-fixed .header-topbar {
        position: fixed;
        z-index: 96
    }
    .header-topbar .header-topbar-item {
        margin: 0 2px;
        padding: 0
    }
    .header-topbar .header-topbar-item .header-topbar-wrapper {
        display: flex;
        align-items: stretch
    }
    .header-topbar .header-topbar-item .header-topbar-icon {
        height: 34px;
        width: 34px
    }
    .header-topbar .header-topbar-item.header-topbar-item-user {
        margin-left: 2px;
        margin-right: 0;
        padding: 0
    }
    .header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user {
        padding: 0 2px;
        height: 34px
    }
    .header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user .header-topbar-welcome {
        padding: 0 .35rem 0 0;
        font-size: .9rem
    }
    .header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user .header-topbar-username {
        padding: 0 .55rem 0 0;
        font-size: .9rem
    }
    .header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user img {
        max-height: 30px
    }
}

.aside-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 25px;
    height: 65px
}

.aside-brand .aside-brand-logo {
    display: flex;
    justify-content: flex-start
}

.aside-brand .aside-brand-tools {
    display: flex;
    justify-content: flex-end
}

.aside-brand .aside-brand-tools .aside-brand-aside-toggler {
    display: inline-block;
    padding: 0;
    border: 0;
    background: none;
    outline: none!important;
    box-shadow: none
}

.aside-brand .aside-brand-tools .aside-brand-aside-toggler>span {
    display: inline-block
}

.aside-brand .aside-brand-tools .aside-brand-aside-toggler>span:nth-child(2) {
    display: none
}

.aside-brand .aside-brand-tools .aside-brand-aside-toggler svg {
    height: 26px;
    width: 26px;
    margin-right: -2px
}

@media (min-width:1025px) {
    .aside-brand {
        transition: all 0.3s ease
    }
}

@media (max-width:1024px) {
    .aside-brand {
        display: none
    }
}

.aside {
    width: 265px;
    transition: all 0.3s ease
}

.aside .aside-menu {
    margin: 15px 0
}

@media (min-width:1025px) {
    .aside-fixed .aside {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 98
    }
}

.aside-menu .menu-nav {
    margin: 0;
    list-style: none;
    padding: 15px 0
}

.aside-menu .menu-nav .menu-subnav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    list-style: none!important
}

.aside-menu .menu-nav .menu-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: none;
    padding: 0
}

.aside-menu .menu-nav .menu-item>.menu-link {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: relative;
    outline: none
}

.aside-menu .menu-nav .menu-item>.menu-link:hover {
    text-decoration: none;
    cursor: pointer
}

.aside-menu .menu-nav .menu-item>.menu-link .menu-link-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0
}

.aside-menu .menu-nav .menu-item>.menu-link .menu-link-icon {
    display: flex;
    align-items: center;
    line-height: 0
}

.aside-menu .menu-nav .menu-item>.menu-link .menu-link-bullet {
    display: flex;
    align-items: center;
    line-height: 0
}

.aside-menu .menu-nav .menu-section {
    display: flex;
    padding: 0 25px
}

.aside-menu .menu-nav .menu-section .menu-section-text {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center
}

.aside-menu .menu-nav .menu-section .menu-section-icon {
    display: none;
    align-items: center;
    justify-content: center
}

.aside-menu .menu-nav>.menu-item {
    position: relative;
    margin: 0
}

.aside-menu .menu-nav>.menu-item>.menu-link {
    cursor: pointer;
    min-height: 44px
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-text {
    font-weight: 400;
    font-size: 1rem;
    text-transform: initial
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-icon {
    flex: 0 0 35px;
    font-size: 1.3rem
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-icon svg {
    height: 23px;
    width: 23px;
    margin-left: -2px
}

.aside-menu .menu-nav>.menu-section {
    margin: 20px 0 0 0;
    height: 40px
}

.aside-menu .menu-nav>.menu-section .menu-section-text {
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px
}

.aside-menu .menu-nav>.menu-item>.menu-link {
    padding: 9px 25px
}

@media (max-width:1024px) {
    .aside {
        z-index: 1001;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        backface-visibility: hidden;
        width: 275px!important;
        transition: left 0.3s ease, right 0.3s ease;
        left: -295px
    }
}

@media screen\0 and (max-width:1024px) {
    .aside {
        transition: none!important
    }
}

@media (max-width:1024px) {
    .aside {
        background: #fff;
        box-shadow: 0 1px 9px -3px rgba(0, 0, 0, .75)
    }
}

@media (max-width:325px) {
    .aside {
        width: 90%!important
    }
}

@media (min-width:1025px) {
    .content {
        padding: 25px 0
    }
}

@media (max-width:1024px) {
    .content {
        padding: 15px 0
    }
}

.footer {
    padding: 20px 0;
    background: #fff
}

.footer .container {
    display: flex;
    justify-content: space-between
}

.footer .footer-copyright {
    display: flex;
    margin: 0;
    padding: 0 1.25rem 0 0;
    font-size: 1rem;
    font-weight: 400;
    justify-content: flex-start;
    color: #74788d
}

.footer .footer-copyright .link {
    color: #74788d
}

.footer .footer-copyright .link:hover {
    color: #5d78ff
}

.footer .footer-copyright .link:hover:after {
    border-bottom: 1px solid #5d78ff;
    opacity: .3
}

.footer .footer-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 .75rem;
    margin: 0
}

.footer .footer-menu .footer-menu-link {
    margin: 0 0 0 1.25rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #595d6e
}

.footer .footer-menu .footer-menu-link:hover {
    color: #5d78ff
}

.footer .footer-menu .footer-menu-link:hover:after {
    border-bottom: 1px solid #5d78ff;
    opacity: .3
}

@media (max-width:1024px) {
    .footer {
        padding: 15px 0
    }
}

@media (max-width:768px) {
    .footer .container {
        flex-direction: column;
        justify-content: center
    }
    .footer .footer-copyright {
        justify-content: center;
        padding: 0;
        order: 2
    }
    .footer .footer-menu {
        justify-content: center;
        order: 1;
        padding: 0;
        margin: 0 0 .5rem 0
    }
    .footer .footer-menu .footer-menu-link:first-child {
        padding-left: 0;
        margin-left: 0
    }
}

@media (min-width:1025px) {
    .header {
        background-color: #fff;
        border-bottom: 1px solid #eff0f6
    }
}

.header .header-topbar .header-topbar-item .header-topbar-icon svg g [fill] {
    fill: #5d78ff
}

.header .header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user .header-topbar-welcome {
    transition: all 0.3s;
    color: #959cb6
}

.header .header-topbar .header-topbar-item.header-topbar-item-user .header-topbar-user .header-topbar-username {
    transition: all 0.3s;
    color: #6c7293
}

.header .header-topbar .header-topbar-item:hover .header-topbar-icon {
    transition: all 0.3s;
    background-color: rgba(77, 89, 149, .06)
}

.header .header-topbar .header-topbar-item:hover.header-topbar-item-user .header-topbar-user {
    transition: all 0.3s;
    background-color: rgba(77, 89, 149, .06)
}

@media (max-width:1024px) {
    .header-mobile {
        box-shadow: 0 0 40px 0 rgba(82, 63, 105, .1)
    }
    .header-topbar {
        background-color: #fff;
        box-shadow: none
    }
}

@media (min-width:1025px) {
    /*.aside-brand {
        background-color: #1a1a27;
        box-shadow: none
    }*/
    .aside-brand .aside-brand-tools .aside-brand-aside-toggler svg g [fill] {
        transition: fill 0.3s ease;
        fill: #494b74
    }
    .aside-brand .aside-brand-tools .aside-brand-aside-toggler svg:hover g [fill] {
        transition: fill 0.3s ease
    }
    .aside-brand .aside-brand-tools .aside-brand-aside-toggler:hover svg g [fill] {
        transition: fill 0.3s ease;
        fill: #5d78ff
    }
    .aside-brand .aside-brand-tools .aside-brand-aside-toggler:hover svg:hover g [fill] {
        transition: fill 0.3s ease
    }
}

@media (max-width:1024px) {
    .header-mobile {
        background-color: #1a1a27;
        box-shadow: 0 1px 9px -3px rgba(0, 0, 0, .1)
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span {
        background: #484f66
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::before,
    .header-mobile .header-mobile-toolbar .header-mobile-toggler span::after {
        background: #484f66
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler:hover span {
        background: #fff
    }
    .header-mobile .header-mobile-toolbar .header-mobile-toggler:hover span::before,
    .header-mobile .header-mobile-toolbar .header-mobile-toggler:hover span::after {
        background: #fff
    }
    .header-mobile .header-mobile-toolbar .header-mobile-topbar-toggler i {
        color: #484f66
    }
    .header-mobile .header-mobile-toolbar .header-mobile-topbar-toggler:hover i {
        color: #fff
    }
}

.aside {
    background-color: #1e1e2d
}

.aside-menu {
    background-color: #1e1e2d
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-text {
    color: #a2a3b7
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-icon {
    color: #494b74
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #494b74
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-link-icon svg:hover g [fill] {
    transition: fill 0.3s ease
}

.aside-menu .menu-nav>.menu-item.menu-item-active {
    transition: background-color 0.3s
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    background-color: #1b1b28
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-link-text {
    color: #fff
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-link-icon {
    color: #5d78ff
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-link-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #5d78ff
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-link-icon svg:hover g [fill] {
    transition: fill 0.3s ease
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover {
    transition: background-color 0.3s
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background-color: #1b1b28
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-link-text {
    color: #fff
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-link-icon {
    color: #5d78ff
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-link-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #5d78ff
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-link-icon svg:hover g [fill] {
    transition: fill 0.3s ease
}

.aside-menu .menu-nav>.menu-section .menu-section-text {
    color: #4c4e6f
}

.aside-menu .menu-nav>.menu-section .menu-section-icon {
    color: #4c4e6f
}

/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/

.form,
.list-div,
.profile,
.calendar-div {
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

.form-title {
  display: flex;
  padding: 0 25px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
}

.form-title > div {
  display: flex;
  align-items: center;
}

.form-title p {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #464457;
}

.form-body {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.form-body label {
  font-size: 0.9rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.close {
    font-size: 1.5rem !important;
}

input:focus,
.btn:focus,
.pagination a:focus,
select {
  outline: none;
  box-shadow: none !important;
}

.form-body .form-control {
  padding: 0.65rem 1rem;
  height: calc(1.5em + 1.3rem + 2px);
  font-size: 0.9rem;
}

.form-footer {
  padding: 25px;
  border-top: 1px solid #ebedf2;
}

.form-footer button {
  padding: 0.65rem 1rem;
}

/*****************************
    LISTAR ALUNOS
*****************************/

.list-div td {
  vertical-align: middle;
}

.selected {
  color: #000 !important;
  background-color: #e9ebec !important;
}

.list-div td:last-child {
  text-align: center;
}

.list-div td a {
  color: #fff !important;
}

/*****************************
    PERFIL
*****************************/

.image-wrapper {
  background: rgba(0, 0, 0, 0.4);
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  transition: bottom 0.15s linear;
  width: 100%;
}

.edit-picture {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  top: 10px;
}

.profile-pic {
  background-color: #f2f3f8;
  transform: translateX(0);
  border-radius: 50%;
  vertical-align: middle;
  border: 4px solid #f2f3f8;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

.profile-pic img {
  height: 100%;
  left: 50%;
  max-height: 100%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.15s ease-out;
  width: auto;
  min-width: 100%;
}

.profile-pic:hover .image-wrapper {
  bottom: 0;
}


/*****************************
    DASHBOARD STATUS
*****************************/

.tile-red {
  background: #e7505a;
}

.tile-blue {
  background: #337ab7;
}

.tile-hoki {
  background: #67809f;
}

.tile-purple {
  background: #8e44ad;
}

.tile-stats {
  display: block;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.tile-stats .tile-icon {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 5px;
  bottom: 35px;
  z-index: 1;
}

.tile-stats .tile-icon i {
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.tile-stats .tile-num {
  font-size: 38px;
  font-weight: bold;
}

.tile-stats .tile-num,
.tile-stats h3,
.tile-stats p {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.tile-stats h3 {
  font-size: 18px;
  margin-top: 5px;
}

.tile-stats p {
  font-size: 11px;
  margin-top: 5px;
}

/*****************************
    DASHBOARD CALENDAR
*****************************/

.calendar th,
.calendar td,
.calendar thead,
.calendar tbody,
.calendar .fc-row,
.calendar .fc-content {
  border-color: #ebedf2;
}

.calendar .fc-button {
  color: #a7abc3;
  background: transparent;
  border: 1px solid #ebedf2;
  text-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  height: 2.75rem;
  padding: 0 1.25rem;
  font-size: 1rem;
}

.calendar .fc-icon {
  font-size: 1em;
}

.calendar button:hover {
  background: #5d78ff;
  border: 0;
}

.calendar button:focus,
.calendar button:active {
  border: 1px solid #5d78ff !important;
  background: #5d78ff !important;
  color: #fff;
}

.calendar .fc-day-header {
  padding: 0.75rem 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #a7abc3;
}

.calendar .fc-event {
  background: #fff;
  border: 1px solid #ebedf2;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.055);
  padding: 0.5rem;
}

.calendar .fc-title {
  color: #6c7293;
  font-size: 0.9rem;
  font-weight: 400;
}

.calendar .fc-event-container {
  padding: 0.2rem 0.5rem;
}

.calendar h5 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

.calendar .fc-today {
  background: none !important;
  border: none !important;
  font-weight: bold;
  color: #000;
}

.calendar .fc-time {
  color: #212529;
  display: block;
}

.form-first,
.form-first-login-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-first-login-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  padding: 70px 15px 74px 15px;
}

.form-first-login-title span {
  font-weight: bold;
  font-size: 30pt;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

#form-result p {
  margin-bottom: 0;
}

.form-text {
    font-size: 8pt;
}

.toggled {
  margin-left: -265px;
}

.page-breadcrumb ol {
  background: #fff;
  border-bottom: 1px solid #e7ecf1;
  margin: 0;
}

.breadcrumb {
	border-radius: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '-';
}

.toggled-open {
    display: none;
}

/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
